.entryField {
  width: 20em;
  height: 2em;
  background-color: #F0F0F0;
  outline: none;
  border: none;
  font-weight: lighter;
}

.entryField:focus {
  width: 20em;
  height: 2em;
  background-color: white;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;

}

.entryField:focus::-webkit-input-placeholder {
   font-weight: lighter;
   color: transparent;

}

.entryField:focus:-moz-placeholder { /* Firefox 18- */
   font-weight: lighter;
   color: transparent;

}

.entryField:focus::-moz-placeholder {  /* Firefox 19+ */
   font-weight: lighter;
   color: transparent;

}

.entryField:focus:-ms-input-placeholder {
   font-weight: lighter;
   color: transparent;

}
